Source: node-nrsa
Section: misc
Priority: optional
Maintainer: Kayo Phoenix <kayo@illumium.org>
Build-Depends: nodejs, debhelper (>= 7.0.52), nodejs-dev (>= 0.4.0-) | nodejs-dev (<< 0.5.0-) | nodejs-dev (>= 0.5.0-) | nodejs-dev (<< 0.6.0-) | nodejs-dev (>= 0.6.0-) | nodejs-dev (<< 0.7.0-), libssl-dev
Standards-Version: 3.8.4

Package: node-nrsa
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: OpenSSL's RSA encrypt/decrypt routines
 This is a debianized npm package
