#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_configure:
	node-waf configure

override_dh_auto_build:
	node-waf build

override_dh_auto_test:
	nodejs test/test.js

override_dh_auto_install:
	dh_install
	dh_buildinfo
	echo "misc:Depends=$$(dpkg-query --showformat='$${Package} (= $${Version})' --show nodejs)" > debian/node-nrsa.substvars

override_dh_auto_clean:
	node-waf distclean
	rm -f rsaBinding.node
